.site-aside {
  position: fixed;
  display: inline-block;
  padding: 37px 0 0;
  width: 255px;
  height: 100vh;
  background-color: #363740;
}

.logo {
  display: inline-block;
  padding-left: 32px;
  padding-bottom: 45px;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar__item {
  border-left: 3px solid transparent;
  transition: all .2s ease;

  &:hover {
    border-color: #DDE2FF;
  }

  &:hover>.navbar__link {
    color: #DDE2FF;
  }

  // &:hover .navbar__link::before {
  //   opacity: 1;
  //   fill:#DDE2FF;
  // }
}

.navbar__link {
  display: inline-flex;
  align-items: center;
  padding: 18px 24px 18px 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #A4A6B3;
  text-decoration: none;
  transition: all .2s ease;


  &::before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    width: 16px;
    height: 16px;
    background-image: url('../../../assets/images/overview-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }


}

.Tickets::before {

  background-image: url('../../../assets/images/tickets-icon.svg');
}

.Ideas::before {
  background-image: url('../../../assets/images/ideas-icon.svg');
}

.Contacts::before {
  background-image: url('../../../assets/images/contacts-icon.svg');
}

.Agents::before {
  background-image: url('../../../assets/images/agents-icon.svg');
}

.Articles::before {
  background-image: url('../../../assets/images/articles-icon.svg');
}

.Settings::before {
  background-image: url('../../../assets/images/settings-icon.svg');
}

.Subscription::before {
  background-image: url('../../../assets/images/subscription-icon.svg');

}